.slick-arrow {
  border: none;
  border-color: inherit;
  padding: 8px;
  background: transparent;
  font-size: 0em;
  cursor: pointer;
  pointer-events: all;
  z-index: 1503;
  position: absolute;
  top: 50%;
  width: 1.6rem;
  height: 1.6rem;
  border-top: .18rem solid;
  border-right: .18rem solid;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.slick-arrow:focus {
  outline:none;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-prev {
  left: 80px;
}

.slick-next {
  right: 80px;
}

.slick-arrow.slick-prev {
  transform: rotate(-135deg);
}
.slick-arrow.slick-next {
  transform: rotate(45deg);
}

.slick-arrow:hover.slick-prev {
  transform: rotate(-135deg) scale(1.1);
}

.slick-arrow:hover.slick-next {
  transform: rotate(45deg) scale(1.1);
}

.slick-arrow:active.slick-prev {
  transform: rotate(-135deg) scale(0.8);
}

.slick-arrow:active.slick-next {
  transform: rotate(45deg) scale(0.8);
}

.slick-arrow:disabled {
  display: none;
}

@media screen and (max-width: 400px) {
  .slick-prev {
    left: 30px;
    transform: rotate(135deg);
  }

  .slick-next {
    right: 30px;
    transform: rotate(-45deg);
  }

  .slick-arrow {
    width: 1.4rem;
    height: 1.4rem;
    border-top: .15rem solid;
    border-right: .15rem solid;
    border-color: inherit;
  }
}

.slick_slide:focus, .slick_current:focus, .slick_active:focus {
  outline: none;
}

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -30px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;
    pointer-events: all;
    text-align: center;
    color: black;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 7px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: inherit;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 15px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: inherit;
}