.slick-arrow {
  border: none;
  border-color: inherit;
  padding: 8px;
  background: transparent;
  font-size: 0em;
  cursor: pointer;
  pointer-events: all;
  z-index: 1503;
  position: absolute;
  top: 50%;
  width: 1.6rem;
  height: 1.6rem;
  border-top: .18rem solid;
  border-right: .18rem solid;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.slick-arrow:focus {
  outline:none;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-prev {
  left: 80px;
}

.slick-next {
  right: 80px;
}

.slick-arrow.slick-prev {
  transform: rotate(-135deg);
}
.slick-arrow.slick-next {
  transform: rotate(45deg);
}

.slick-arrow:hover.slick-prev {
  transform: rotate(-135deg) scale(1.1);
}

.slick-arrow:hover.slick-next {
  transform: rotate(45deg) scale(1.1);
}

.slick-arrow:active.slick-prev {
  transform: rotate(-135deg) scale(0.8);
}

.slick-arrow:active.slick-next {
  transform: rotate(45deg) scale(0.8);
}

.slick-arrow:disabled {
  display: none;
}

@media screen and (max-width: 400px) {
  .slick-prev {
    left: 30px;
    transform: rotate(135deg);
  }

  .slick-next {
    right: 30px;
    transform: rotate(-45deg);
  }

  .slick-arrow {
    width: 1.4rem;
    height: 1.4rem;
    border-top: .15rem solid;
    border-right: .15rem solid;
    border-color: inherit;
  }
}

.slick-dotted.slick-slider
{
  margin-bottom: 30px;
}

.slick-dots
{
  font-family: "Quicksand";
  font-size: 13px;
  position: absolute;
  bottom: -20px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0 auto;
  pointer-events: all;
  text-align: center;
  opacity: 1;
  transform: translateX(-6px);
}

.slick-dots li
{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 15px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li a
{
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: inherit;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li a:hover,
.slick-dots li a:focus
{
  font-weight: bold;
}

.slick-active a {
  font-weight: bold;
  font-size: 15px;
  padding-right: 30px;
}