@font-face {
  font-family: "Roboto Mono";
  src: "../resources/fonts/RobotoMono.ttf";
}

*:focus {
    outline: none;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#7a7474, #123f1b);
  overflow: hidden;
}

.world {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 20;
  -webkit-user-select: none;
}

.weatherData {
  position: absolute;
  top: 3vh;
  width: 100%;
  text-align: center;
  -webkit-user-select: none;
}

.weatherData p {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.weatherData #location {
  font-family: 'Poiret One', cursive;
  font-size: 4em;
  color: inherit;
}

.weatherData #country {
  font-family: 'Poiret One', cursive;
  font-size: 1.4em;
  color: inherit;
}

.weatherData #temp {
  font-family: 'Poiret One', sans-serif;
  color: inherit;
  font-size: 6.0em;
}

.weatherData #error {
  margin-top: 20px;
  font-family: 'Roboto Mono', sans-serif;
  color: inherit;
  font-size: 0.8em;
}

.appButton {
  font-family: 'Roboto Mono', sans-serif;
  padding: 8px 30px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(11, 11, 11, 11);
  border: none;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0 0px #999;
  pointer-events: all;
  z-index: 1502;
  display: none;
}

.appButton:hover {
  background-color: #1e4e11
}

.appButton:active {
  /*background-color: #3e8e41;*/
  box-shadow: 0 0px #666;
  transform: translateY(1px);
}

.weatherData hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
  color: inherit;
}

.detailedData {
  width: 60%;
  margin: 0 auto;
  font-family: "Roboto Mono";
  font-size: 14px;
}

.detailedData .todayText {
  font-size: 12px;
  text-align: right;
  margin: 0;
  word-spacing: 0.1em;
}

.detailedData .descriptors {
  float: left;
  width: 0%;
  line-height: 2.0em;
  text-align: left;
  display: block;
  color: inherit;
}

.detailedData .descriptors p {
  font-family: inherit;
  width: 100%;
  line-height: 2.0em;
  text-align: left;
  display: block;
}

.detailedData .values {
  float: right;
  width: 100%;
  line-height: 2.0em;
  text-align: right;
  display: block;
  color: inherit;
}

.detailedData .values p {
  font-family: inherit;
  width: 100%;
  line-height: 2.0em;
  text-align: right;
  display: block;
}

.updateTime {
  font-family: inherit;
  position: absolute;
  margin: 0 auto;
  width: 60%;
  bottom: -20px;
  font-size: 0.75em;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  z-index: 1001;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border-radius: 50%;
  border: 2px solid transparent;
  /*border-top-color: #3498db;*/
  border-top-color: #f9c922;
  animation: spin 1.5s ease-in-out infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #a95922;
  animation: spin 1.5s ease-in-out infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: #3498db;
  animation: spin 0.75s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: #222222;
  background: linear-gradient(#242434, #345434);
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

h1 {
  color: #fff;
}

.loaded #loader-wrapper .loader-section.section-left {
  opacity: 0;

}

.loaded #loader-wrapper .loader-section.section-right {
  opacity: 0;
}

.loaded #loader-wrapper {
  visibility: hidden;
  display: none;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  transition: all 0.3s ease-out;
}

.loaded #loader {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.loaded #loader-wrapper {
  transform: translateY(-100%);
  transition: all 0.3s 0.5s ease-out;
}

#modeSelector {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 0.8em;
  font-family: "Quicksand";
  pointer-events: all;
  -webkit-user-select: none;
  padding: 4px 12px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(80, 80, 80, 80);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 28px 2px rgba(61,61,61,0.44);
  z-index: 1502;
}

#modeSelector:hover {
  background-color: #818280;
}

#modeSelector:active {
  background-color: #adadad;
  box-shadow: 0 0px #666;
  transform: translateY(1px);
}

.locationArea {
  font-size: 2.5em;
  font-family: "Roboto Mono";
  margin: 0;
  padding: 0;
  z-index: 1502;
  display: block;
  margin: 0 auto;
}

.locationBar {
  padding: 12px 20px;
  box-sizing: border-box;
  pointer-events: all;
  -webkit-user-select: none;
  z-index: 1502;
  font-size: 14px;
  border-radius: 5px;
  border-style: none;
  margin: 10 auto;
  display: block;
  width: 60%;
  max-width: 500px;
  box-shadow: 0px 3px 28px 2px rgba(61,61,61,0.44);
}

input[type=button] {
  background-color: #4CAF50;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 8px 32px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
  z-index: 1502;
  pointer-events: all;
  -webkit-user-select: none;
  font-size: 15px;
  color: #fff;
  background-color: rgba(80, 80, 80, 80);
  border: none;
  border-radius: 4px;
}

input[type=button]:hover {
  background-color: #818280;
}

input[type=button]:active {
  background-color: #adadad;
  box-shadow: 0 0px #666;
  transform: translateY(1px);
}

input[type=radio] {
  z-index: 1502;
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  z-index: 1502;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 6px 0px;
  width: 70px;
  text-align: center;
}

input[type=radio]:checked + label {
  background: #000;
}

label + input[type=radio] + label {
  border-left: solid 1px #fff;
  margin: 0;
}

.radio-group {
  max-width: 73%;
  z-index: 1502;
  text-align: center;
  pointer-events: all;
  display: inline-block;
  position: relative;
  border: solid 1px #fff;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto Mono";
  font-size: 13px;
}

.carousel {
  color: inherit;
  border-color: inherit;
  z-index: 1502;
  pointer-events: none;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  outline: none;
}

.carousel:focus {
  outline: none;
}

@media all and (max-width: 400px) {
  .weatherData {
    position: absolute;
    top: 1vh;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
  }

  .weatherData #error {
    margin-top: 20px;
    font-family: 'Roboto Mono', sans-serif;
    color: inherit;
    font-size: 0.8em;
    color: #fff;
    width: 70%;
  }

  .weatherData #location {
    margin-top: 5vh;
    font-size: 11vw;
    padding-bottom: 12px;
  }
}
