@font-face {
    font-family: "Roboto Mono";
    src: "../resources/fonts/RobotoMono.ttf";
}

.game-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#8ab4b4, #82cfbb);
    overflow: hidden;
}

.world {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    text-align: center;
    pointer-events: none;
    color: #f1d7d0;
    z-index: 20;
}

.header h1 {
    font-family: 'Playfair Display';
    font-size: 4.5em;
    line-height: 1;
    margin: 0;
    letter-spacing: -0.025em;
    color: inherit;
}

.header h1 span {
    font-size: 0.2em;
    font-style: italic;
    display: block;
    margin: 0 0 -1.5em -7em;
    letter-spacing: 0px;
}

.header h2 {
    font-size: 0.585em;
    margin: 0.25em 0;
    white-space: nowrap;
    text-indent: 1em;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: #d6483b;
}

@media screen and (max-width: 40em) {
    .header {
        font-size: 0.75em;
        top: 6.5em;
    }
    .header h2 {
        letter-spacing: 0.65em;
    }
}

.weatherData {
    position:absolute;
    top: 16vh;
    width: 100%;
    text-align: center;
}
.weatherData p {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.weatherData #location {
    font-family: 'Poiret One', cursive;
    font-size: 2.5em;
    color: inherit;
}

.weatherData #temp {
    font-family: 'Poiret One', sans-serif;
    color: inherit;
    font-size: 5.0em;
}

.weatherData hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.detailedData {
    width: 50%;
    margin: 0 auto;
}

.detailedData .descriptors {
    float: left;
    width: 0%;
    line-height: 2.0em;
    text-align: left;
    display: block;
    font-size: 0.9em;
    color: inherit;
}

.detailedData .descriptors p {
    font-family: "Roboto Mono";
    width: 100%;
    line-height: 2.0em;
    text-align: left;
    display: block;
}

.detailedData .values {
    float: right;
    width: 15%;
    line-height: 2.0em;
    text-align: right;
    display: block;
    font-size: 0.9em;
    color: inherit;
}

.detailedData .values p {
    font-family: "Roboto Mono";
    width: 100%;
    line-height: 2.0em;
    text-align: right;
    display: block;
}